.windowbar {
    -webkit-app-region: drag;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.windowbar button,
a,
select,
input {
    -webkit-app-region: no-drag;
}

.closeBtn:hover {
    background-color: red;
}

.windowbarTitle {
    display: flex;;
    align-items: center;
    padding-left: 5px
}

.minimizeBtn:hover {
    background-color: green;
}

button.windowbarIcon {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0.3em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: #00000000
}

a.windowbarIcon:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.windowbarIcon {
        display: block;
        margin: 0.4em auto;
    }
}
